:root {
  --white: hsl(0, 0%, 100%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);
  --brown800: hsl(14, 45%, 36%);
  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
  --desktop1: normal 4rem/1 "Young Serif", serif;
  --mobile1: normal 3.6rem/1 "Young Serif", serif;
  --desktop2: normal 2.8rem/1 "Young Serif", serif;
  --desktop3: 600 2rem/1 "Outfit", sans-serif;
  --desktop4: normal 1.6rem/1.5 "Outfit", sans-serif;
  --desktop4-list: normal 1.6rem/1 "Outfit", sans-serif;
  --desktop4-bold: bold 1.6rem/1.5 "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  background-color: var(--stone100);
  margin: 0;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  font: var(--desktop4);
  text-align: left;
}

.card {
  background-color: var(--white);
  max-width: 73.6rem;
}

.figure {
  margin: 0;
}

.image {
  display: block;
  max-width: 100%;
}

.content {
  color: var(--stone600);
  padding: 4rem clamp(3.2rem, 2.437rem + 2.036vw, 4rem);
}

.title {
  color: var(--stone900);
  font: var(--mobile1);
  margin: 0 0 2.4rem;
}

.copy {
  line-height: 1.5;
  margin: 0;
}

.section {
  margin: 3.2rem 0 0;
}

.highlighted-section {
  background-color: var(--rose50);
  padding: 2.4rem;
}

.subtitle {
  color: var(--rose800);
  font: var(--desktop3);
  margin: 0 0 1.6rem;
}

.list {
  font: var(--desktop4-list);
  margin: 0;
  padding: 0 0 0 24px;
}

::marker {
  color: var(--brown800);
  font-variant-numeric: proportional-nums;
  font-weight: bold;
}

.unordered-list ::marker {
  font-size: 1.2rem;
}

.list-item {
  line-height: 1.5;
}

.list-item:not(:last-child) {
  margin: 0 0 0.8rem 0;
}

.list-copy {
  display: inline-block;
  line-height: 1.5;
  margin: 0 0 0 1.6rem;
}

.middle-copy {
  vertical-align: middle;
}

.bold-copy {
  font-weight: bold;
}

.top-copy {
  vertical-align: top;
}

.section-title {
  color: var(--brown800);
  font: var(--desktop2);
  margin: 0 0 2.4rem;
}

.hr {
  border: 1px solid var(--stone150);
  margin: 3.2rem 0 0;
}

.table {
  border-collapse: collapse;
  margin: 2.4rem 0 0;
  table-layout: fixed;
  width: 100%;
}

.th:not(.last-row-th),
.td:not(.last-row-td) {
  border-bottom: 1px solid var(--stone150);
}

.th {
  font: var(--desktop4);
  padding: 1.2rem 0 1.2rem 3.2rem;
}

.first-row-th {
  padding: 0 0 1.2rem 3.2rem;
}

.last-row-th {
  padding: 1.2rem 0 0 3.2rem;
}

.td {
  color: var(--brown800);
  font: var(--desktop4-bold);
  padding: 1.2rem 0 1.2rem 0.8rem;
}

.first-row-td {
  padding: 0 0 1.2rem 0.8rem;
}

.last-row-td {
  padding: 1.2rem 0 0 0.8rem;
}

.footer {
  bottom: 0;
  font-style: italic;
  position: absolute;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 769px) {
  .card {
    margin: 12.8rem auto;
  }

  .figure {
    margin: 4rem 4rem 0;
  }

  .image {
    border-radius: 24px;
  }

  .title {
    font: var(--desktop1);
  }
}
