:root {
  --white: hsl(0, 0%, 100%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);
  --brown800: hsl(14, 45%, 36%);
  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  background-color: var(--stone100);
  margin: 0;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  border-radius: 24px;
  margin: 0 auto;
  max-width: 73.6rem;
}

.figure {
  margin: 0;
}

.image {
  display: block;
  max-width: 100%;
}

.content {
  color: var(--stone600);
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 4rem clamp(3.2rem, 2.437rem + 2.036vw, 4rem);
  text-align: left;
}

.title {
  color: var(--stone900);
  font-family: "Young Serif", serif;
  font-size: 3.6rem;
  margin: 0 0 2.4rem;
}

.copy {
  margin: 0;
}

.section {
  margin: 3.2rem 0 0;
}

.highlighted-section {
  background-color: var(--rose50);
  padding: 2.4rem;
}

.subtitle {
  color: var(--rose800);
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 1.6rem;
}

.list {
  margin: 0;
  padding: 0 0 0 24px;
}

::marker {
  color: var(--brown800);
  font-variant-numeric: proportional-nums;
  font-weight: bold;
}

.unordered-list ::marker {
  font-size: 1.2rem;
}

.list-item {
  margin: 0 0 0.8rem 0;
}

.list-copy {
  display: inline-block;
  margin: 0 0 0 1.6rem;
}

.middle-copy {
  vertical-align: middle;
}

.bold-copy {
  font-weight: bold;
}

.top-copy {
  vertical-align: top;
}

.section-title {
  color: var(--brown800);
  font-family: "Young Serif", serif;
  font-size: 2.8rem;
  margin: 0 0 2.4rem;
}

.hr {
  border: 1px solid var(--stone150);
  margin: 3.2rem 0 0;
}

.table {
  border-collapse: collapse;
  margin: 2.4rem 0 0;
  width: 100%;
}

.th,
.td {
  border-bottom: 1px solid var(--stone150);
}

.th {
  font-weight: normal;
  padding: 1.2rem 0 1.2rem 3.2rem;
}

.td {
  color: var(--brown800);
  font-weight: bold;
  padding: 1.2rem 0 1.2rem 0.8rem;
}

.footer {
  font-style: italic;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 769px) {
  .figure {
    margin: 4rem 4rem 0;
  }

  .image {
    border-radius: 24px;
  }
}
